@import "base/variables.css";
@import "base/reset.css";
@import "base/typography.css";

@import "utilities/spacing.css";
@import "utilities/dimensions.css";
@import "utilities/background.css";

@import "layout/display.css";
@import "layout/containers.css";
@import "layout/flex.css";
@import "layout/grid.css";

@import "components/navbar.css";
@import "components/sidebar.css";
@import "components/code.css";
@import "components/lists.css";
@import "components/footer.css";

@import "sections/grid-task-1-section.css";
@import "sections/grid-named-lines-section.css";
