.ul{
  list-style-type: disc;
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ol{
  list-style-type: circle;
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}